div.menu {
    width: 31%;
    margin: auto;
    margin-right: 0.5%;
    padding-bottom: 1%;
    background-color: rgba(20 20 20 / 0.2);
    border: 2px solid black;
    border-radius: 5%;
    float: left;
    white-space: pre-line;
}
a#menuLink {
    position: relative;
    bottom: 14%;
    margin: auto;
    font-size: 200%;
    clear: left;
}
#pageTitle
{
    font-size: 280%;
    margin: auto;       
}
p#generalText
{
    font-size: 180%;
    margin: auto;
}
#MomoMako_Cover 
{
    float: right;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid black;
    border-radius: 2%;
}
h1#galleryText {
    margin: auto;
    margin-bottom: auto;
    width: 28%;
    font-size: 500%;
    clear: right;
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgba(250 250 20 / 0.40);
    text-align: center;
    margin-bottom: 0.5%;
}
div.gallery 
{
    margin: auto;
    width: 99%;
    position: relative;
    overflow: auto;
}
div.galleryFiles {
    clear: both;
    padding: 0.5%;
    white-space: nowrap;
    background-color: rgb(40 40 40);
    overflow-y: hidden;
}
p#galleryFileText
{

}
img#logo {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
img.galleryImg
{
    height: 20%;
    width: 20%;
    padding: 0.57%;
    border: 1px solid white;
}
img.galleryImg:hover
{
    border: 5px solid green;
    cursor: pointer;
    padding: 0.2%;
}
img#stageImg
{
    height: 60%;
    width: 60%;
    float: left;
    padding-right: 0.7%;
}
.stageContent {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.20);
}
div.stageContent {
    margin: auto;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: 60.1%;
}
#stageTitle
{
    margin-top: 0.6%;
    margin-bottom: 0%;
}
#stageSubTitle
{
    margin-top: 0%;
    margin-bottom: 0%;
}
p#stageText
{
    font-size: 110%;
    text-align: left;
    margin-top: 2%;
}
embed#resume 
{
    margin: 1.5%;
    width: 60%;
    height: 1200px;
}
img#selfPic 
{
    float: right;
    width: 25%;
    border: 2px solid black;
    border-radius: 2%;
}
div#contactInfo {
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgba(250 250 20 / 0.40);
    margin: auto;
    margin-top: auto;
    margin-top: 1%;
    width: fit-content();
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}
table#projectsTable
{
    border: solid 2px black;
    border-radius: 2%;
    background-color: rgba(20 20 20 / 0.20);
    margin: auto;
    width: 42%;
}
a#tableText
{
    text-align: left;
    font-size: 250%;
}
img#tableArt
{
    width: 10%;
    float: right;
}
body {
    color: black;
    background-color: rgb(165 180 255);
}