div.menu
{
    margin:auto;
    padding-top: 30px;
}
a
{
    margin: auto;
    font-size: 32px;
    padding: 20px;
    text-decoration: underline none;
}
p#generalText
{
    font-size: 28px;
    margin: auto;
    width: 54%;
    padding-top: 12px;
}
div.gallery
{
    margin: auto;
    width: 90%;
    position: relative;
    overflow: auto;
    white-space: nowrap;
}
div.galleryFiles
{
    clear:both;
    padding-top: 8px;
}
img#logo
{
    height: 20%;
    width: 20%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    float: left;
}
img.galleryImg
{
    height: 20%;
    width: 20%;
    padding: 4px;
    border: 1px solid white;
}
img.galleryImg:hover
{
    border: 4px solid green;
    cursor: pointer;
    padding: 0px;
}
img#stageImg
{
    height: 60%;
    width: 60%;
    float: left;
    padding-right: 6px;
}
p#stageText
{
    text-align: justify;
}
body
{
    color: white;
    background-color: rgb(20,20,20);
}